.featuresSection {
    padding: 80px 5%;
    text-align: center;
    background-color: #000;
    color: white;
    min-height: 100vh;

  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .featureCard {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .featureCard:hover {
    transform: translateY(-5px);
  }
  
  .icon {
    font-size: 3rem;
    display: block;
    margin-bottom: 15px;
  }
  
  .featureTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .featureDescription {
    font-size: 1rem;
    color: #bbb;
  }
  
  /* Responsive */
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  